
*{
    box-sizing: border-box;
}

body{
    margin: auto;
    background-color: ffffff;
    font-family: Roboto;
    font-size: 25px;
    background-color: #e3e2df;
}

/* NAVBAR */

ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    background-color: transparent;
}

li{
    color: transparent;
}

.LogoWebsite{
    float: left;
    margin-left: 70px;
}

.TopLeftLogo{
    width: 100px;
}

.BtnNavigasi{
    float: right;
    font-size: 1.75rem;
    border-radius: 20px;
    margin-right: 70px;
    margin-top: 20px;
}

li a{
    display: block;
    padding: 10px 15px 0px 15px;
    text-decoration: none;
    color: #e4927d;
}

li a:hover{
    color: #e38067;
}

.center{
    text-align: center;
}

/* Layout */

.container{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 40px;
}
  
.left{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-content: stretch;
    width: 355px;
}

.list{
    margin-bottom: 10px;
} 

.category{
    margin-bottom: 10px;
    font-size: 30px;
}

.center{
    display: flex;
    flex-grow: 1;
    margin-left: 200px;
}

input[type=text] {
    padding: 30px;
    border: 3px solid #e4927d;
    background-color: transparent;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    width: 100%;
    height: 50px;
    border-radius: 15px;
}

.right{
    display: flex;
    justify-self: center;
    align-items: center;
    width: 200px;
}

div a{
    display: block;
    text-decoration: underline;
    color: black;
}

.centerlistProduct{
    display: flex;
    flex-grow: 1;
    /* margin-left: 200px; */
    display: flex;
    flex-wrap: wrap;
}

.item{
    display: flex;
    background-color: #df8e7b;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    height: 450px;
    width: 350px;
    margin: 10px;
}

.catalog{
    width: auto;
    height: 200px;
}

button{
    font-size: 20px;
    border-radius: 15px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    color: #df8e7b;
    background-color: #e3e2df;
    display: block;
}

button:hover{
    background-color: thistle;
    color: white;
}

h3{
    text-align: center;
    color: #e3e2df;
}